<div class="subcontainer" phx-click="mark-rod" phx-value-rodno="<%= @val %>">
  <div class="rod">
    <div class="disk-container">
    <%= for n <- @rod do %>
      <div class="<%= "disk disk#{n}" %>"></div>
    <% end %>
    </div>
  </div>
</div>
