<div class="container">
  <%= render HanoiTowerWeb.HanoiView, "rod.html", rod: @first_rod %>
  <%= render HanoiTowerWeb.HanoiView, "rod.html", rod: @second_rod %>
  <%= render HanoiTowerWeb.HanoiView, "rod.html", rod: @third_rod %>
</div>
