<div class="container">
  <%= live_render HanoiTowerWeb.HanoiView, "rod.html", rod: @first_rod %>
  <%= live_render HanoiTowerWeb.HanoiView, "rod.html", rod: @second_rod %>
  <%= live_render HanoiTowerWeb.HanoiView, "rod.html", rod: @third_rod %>
</div>
